.fr{float: right;}
.fl{float: left;}
.school_page_info strong {font-weight: bold;}
.activity_cont strong {font-weight: bold;}
.product_page_info strong {font-weight: bold;}
.m_school_page_info strong {font-weight: bold;}
.m_activity_cont strong {font-weight: bold;}
.m_product_page_info strong {font-weight: bold;}


@font-face {
font-family: "PINGFANGBOLD";
src: url(../fonts/PINGFANG BOLD.TTF);
}

@font-face {
font-family: "PINGFANG HEAVY";
src: url(../fonts/PINGFANG HEAVY.TTF);
}




*{margin: 0;padding: 0;font-family: "微软雅黑",Arial;}
html, body, div, h1, h2, h3, h4, h5, h6, ul, dl, li, dt, dd, p, form, table, th, td, input, img, marquee, span, a{margin: 0 auto;}
a{color:#999;}
a:hover{color: #35978f;}
.contant{width: 1200px;overflow: hidden;margin:0 auto;}

.header {width: 100%;height: 90px;background: rgba(0,0,0,0.6);position: absolute;top: 0px;left: 0px;z-index: 9999;}
.header .logo {position: absolute;left: 50%;margin-left: -73.5px;}
.header_nav {width: 1200px;margin: 0 auto;}
.header_nav .header_nav_ul {width: 526px;height: 90px;}
.header_nav .header_nav_ul ul {width: 400px;margin: 0 auto;}
.header_nav div.header_nav_ul:first-child ul#nav{padding-left: 50px;}

.header_nav ul li.navitem:hover ul.subnav {opacity: 1;visibility: visible;transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);	-webkit-transform: translate3d(0px, 0px, 0px);}
.header_nav ul li.navitem {padding:0 30px;float: left;font-size: 14px;color: #fff;position: relative;}
.header_nav ul li.navitem:first-child {background: url(icon_1.png) no-repeat right center;}
.header_nav ul li.navitem a {font-size: 14px;color: #fff;transition: none ease-out .3s;transition-property: color, background, text-indent, opacity;font-family: "微软雅黑"}
.header_nav ul li.navitem a.nav-a {text-align: center;line-height: 90px;}
.header_nav ul li.navitem ul.subnav {transition: all 0.3s ease-out 0s;position: absolute;width: 170px;border-top: #838383 3px solid;opacity: 0;visibility: hidden;transform: translate3d(0px, 10px, 0px);-moz-transform: translate3d(0px, 10px, 0px);-webkit-transform: translate3d(0px, 10px, 0px);}
.header_nav ul li.navitem ul.subnav li {border-bottom: #2e2f29 1px solid;}
.header_nav ul li.navitem ul.subnav li a {padding: 14px 30px;width: 170px;height: 48px;background: rgba(0, 0, 0, .8);display: block;color: #bbb9b9;font-size: 12px;}
.header_nav ul li.navitem ul.subnav li a i {float: right;margin-top: 5px;transition: all ease-out .2s;opacity: 0}
.header_nav ul li.navitem ul.subnav li a:hover {text-indent: 10px;	background: rgba(0, 0, 0, 6);color: #fff}
.header_nav ul li.navitem ul.subnav li a:hover i {opacity: 1}
.header_nav ul li.navitem a.active, .header_nav ul li.navitem:hover a {color: #35978f;}



/**********banner**************/
.banners{ overflow:hidden;}
.banner{ width:100%;position:relative; margin-left:-960px; left:50%;}
.banners img{width: 100%;height: 840px;}
#focus {width:1920px; height:840px;overflow:hidden;position:relative; margin:0 auto;}
#focus ul{height:400px; position:absolute;}
#focus ul li {float:left; width:1920px; height:840px; overflow:hidden; position:relative; background:#000;}
#focus ul li a img{width:1920px; height:840px; }
#focus ul li span,#focuss ul li span{ position: relative; bottom:39px;_bottom:31px;  height:31px; line-height:31px; z-index:100; display:block;filter: Alpha(Opacity=60, Style=0); opacity: 0.60; }
#focus ul li samp,#focuss ul li samp{position:absolute; bottom:4px; left:15px; height:31px; line-height:31px;font-size:12px; z-index:150;}
#focus ul li samp a,#focuss ul li samp a{ color:#ffffff;}
#focus ul li div,#focuss ul li div{position:absolute; overflow:hidden; right:0; bottom:0; z-index:2000;}
#focus .btnBg,#focuss .btnBg{position:absolute; height:16px;}
#focus .btn,#focuss .btn{position:absolute; height:16px; bottom:30px; text-align: left; z-index:2000;}

#focus .btn span,#focuss .btn span{display:inline-block; _display:inline; zoom:1;width:15px;height:15px; _font-size:0; cursor:pointer;background:url(icon_2.png)no-repeat center center; margin-right:10px;}
#focus .btn span.on,#focuss .btn span.on{background:url(icon_2_hover.png)no-repeat center center;}
#focus .preNext,#focuss .preNext{width:45px; height:100px; position:absolute; top:90px; cursor:pointer;}
#focus .pre,#focuss .pre{left:40px;background: url(left.png) no-repeat top center;width: 34px;height: 75px;top: 50%;margin-top: -38px;}
#focus .pre:hover,#focuss .pre:hover{background: url(left.png) no-repeat bottom center;}
#focus .next,#focuss .next{right:40px; background: url(right.png) no-repeat top center;width: 34px;height: 75px;top: 50%;margin-top: -38px;}
#focus .next:hover,#focuss .next:hover{background: url(right.png) no-repeat bottom center;}
#focus .btns{position:absolute; height:40px; bottom:0px; background:#000; opacity:0.8; width:100%;}



.product_index {background: url(index_bg1.png) no-repeat center center;height: 700px;padding-top: 90px;}

strong.tit {margin: 0 auto;overflow: hidden;text-align: center;display: block;}
strong.tit h3{display: block;font-size: 30px;color: #35978f;height: 30px;line-height:30px;overflow: hidden;}
strong.tit span {text-transform:uppercase;color: #35978f;font-size: 20px;padding: 15px 0 20px;display: block;overflow: hidden;font-family: "Times New Roman";opacity: 0.5;}
strong.tit samp {width: 129px;margin: 0 auto;display: block;overflow: hidden;text-align: center;height: 4px;background: url(icon_3.png) no-repeat center center;}


.picScroll-left{ width:1320px;overflow:hidden; position:relative;margin: 0 auto;margin-top: 55px;}
.picScroll-left .hd{ overflow:hidden; height:35px; width:1320px; position:absolute; top:163px; left:0px;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:18px; height:35px; overflow:hidden;cursor:pointer;}
.picScroll-left .hd .next{ background: url(turn_right.png) no-repeat  center center;float: right;  }
.picScroll-left .hd .prev{ background: url(turn_left.png) no-repeat  center center;float: left;  }

.picScroll-left .hd .prevStop{ background:#00f; }
.picScroll-left .hd .nextStop{ background:#00f; }
.picScroll-left .bd{width: 1256px;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ box-shadow: 0px 0px 10px rgba(0,0,0,0.3);width:256px;height: 382px; margin:10px 29px; float:left; _display:inline; overflow:hidden; text-align:center;position: relative;text-align: center;}
.picScroll-left .bd ul li:last-child{ margin-right:0px;}
.picScroll-left .bd ul li div.product_liner_cont{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.picScroll-left .bd ul li div.product_liner_cont h3{color: #ffffff;font-size: 18px;margin-top: 325px;transition: all 0.6s linear 0s;font-weight: bold;}
.picScroll-left .bd ul li div.product_liner_cont span {opacity: 0;display: block;padding: 10px 20px;transition: all 1s linear 0s;color:  #dcdcdc;}

.picScroll-left .bd ul li div.product_liner_img{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.picScroll-left .bd ul li div.product_liner_img img{width: 100%;height: 100%;}

.picScroll-left .bd ul li span.product_liner {display: block;position: absolute;top: 0px;left: 0px;margin: 10px;border: 1px solid #cbbcb5;width: 234px;height: 360px;transition: all 0.3s linear 0s;}
.picScroll-left .bd ul li:hover span.product_liner {width: 254px;height: 378px;margin: 0;}
.picScroll-left .bd ul li div.product_bg {position: absolute;width: 226px;height: 180px;top: 100px;left: 15px;transition: all 0.3s linear 0s;}
.picScroll-left .bd ul li:hover div.product_bg {background: rgba(0,0,0,.4);}
.picScroll-left .bd ul li div.product_liner_cont:hover h3{margin-top: 130px;}
.picScroll-left .bd ul li:hover div.product_liner_cont span {opacity: 1;display: block;padding: 10px 20px;}


.user_index {background: #292a2a;height: 215px;overflow: hidden;}
.user_index_cont {width: 770px;height: 128px;overflow: hidden;margin-top: 45px;}
.user_index_cont img {width: 200px;height: 128px;}
.user_index_cont_fr {width: 520px;overflow: hidden;}
.user_index_cont_fr h3{color:#ffffff;font-size: 24px;display: block;padding-bottom: 8px;}
.user_index_cont_fr span {font-size: 16px;color: #ffffff;display: block;font-weight: normal;overflow: hidden;height: 50px;}
.user_index_cont_fr div {overflow: hidden;height: 52px;}
.user_index_cont_fr a {padding: 9px 25px;border:2px solid #f4ad53;float: left;margin-right: 30px;color: #f4ad53;}
.user_index_cont_fr a:hover {border:2px solid #35978f;color: #35978f;}

.school_index {background: url(index_bg.png) no-repeat center center;height: 850px;padding-top: 85px;}
.school_index strong.tit h3{color: #ffffff;}
.school_index strong.tit span{color: #ffffff;}
.school_index strong.tit samp{background: url(icon_4.png) no-repeat center center;}

.school_index_cont {width: 1200px;overflow: hidden;margin: 0 auto;padding-top: 50px;}
.school_index_cont dt dl{width: 370px;float: left;margin-right: 43.5px;overflow: hidden;height: 550px;background: #ffffff;}
.school_index_cont dt dl:last-child{margin-right: 0;}
.school_index_cont_tit {width: 280px;margin: 0 auto;background: #d19150;height: 64px;text-align: center;margin-top: -32px;z-index: 1;position: relative;}

.school_index_cont_tit span {border: 1px solid #dfb285;width: 266px;height: 50px;display: block;font-size: 18px;color: #fff;overflow: hidden;position: absolute;margin: 6px;left: 0px;top: 0px;line-height: 52px;}

.school_index_info {padding: 50px 30px;height: 224px;color: #999;font-size: 14px;}
.school_index_info span {line-height: 35px;color:#999;font-weight: normal;}
.school_index_info span:after{content: "\2022";float: left;color: #d39658;margin-right: 10px;}

.school_index_info ul li{width: 100%;display: block;padding: 6px 0;font-size: 14px;}
.school_index_info ul li a{color: #999;font-weight: normal;font-size: 14px;}

.school_index_info ul li:after{content: "\2022";float: left;color: #d39658;margin-right: 10px;}

.school_index_an {text-align: center;}
.school_index_an a{padding: 15px 40px;/*background: #d19150;*/background: #35978f;font-size: 16px;color: #ffffff;border-radius: 5px;transition: all ease-out .3s;}
.school_index_an a:hover{background: #35978f;}

.store_index {background: #ffffff;padding-top: 85px;overflow: hidden;}

.store_index_map {background: url(index_bg3.png) center center no-repeat;height: 757px;background-size: 1910px 757px;margin-top: 85px;}
.store_index_map_cont {width: 1200px;margin: 0 auto;padding-top: 110px;}
.store_index_lib {width: 278px;height: 529px;background: #dbaf83;margin-top: 10px;padding: 45px 28px;}

.store_index_lib .store_index_lib_tit {height: 24px;display: block;}
.store_index_lib .store_index_lib_tit div.store_index_lib_tit-bt{float: left;margin-left: 18px;position: relative;cursor: pointer;width: 78px;}

.store_index_lib .store_index_lib_tit span{float: left;background: url(icon_5.png) no-repeat center left;padding-left: 30px;color: #865829;font-size: 14px;}

.store_index_lib .store_index_lib_tit div.store_index_lib_tit-bt div.store_index_lib_tit_xl {float:right;padding: 0 14px;border-radius: 3px;width: 78px;height:100%;font-size:12px;background: url(icon_6.png) no-repeat right center #cb9257;background-position:58px center;color: #ffffff;}
.store_index_lib .store_index_lib_tit div.store_index_lib_tit-bt div.store_index_lib_tit_xl samp {line-height: 24px;float: left;overflow: hidden;width: 38px;height: 24px;white-space: nowrap; }

.store_index_lib_tit-nr {width: 78px;height: 200px;position: absolute;top: 24px;left: 0px;background: #ffffff;padding: 5px 0 5px 14px;overflow-y:auto;display: none;}

.store_index_lib_tit-nr a {display: block;line-height: 24px;width: auto;white-space: nowrap; font-size: 12px;}
.store_index_lib_tit-nr a:hvoer {background: #cb9257;color: #ffffff;}

.store_index_lib_nr {height: 375px;overflow-y:auto;margin-top: 20px;}
.store_index_lib_nr span{display: block;overflow: hidden;width: 195px;display: none;}
.store_index_lib_nr span:first-child {display: block;}
.store_index_lib_nr span a{display: block;height: 45px;line-height: 45px;margin-bottom: 10px;text-align: center;background:#ebd0b5;color: #9a7049;font-size: 14px;}
.store_index_lib_nr span a:hover{color: #35978f;}
.store_index_lib_nr span a:last-child{margin-bottom: 0;}
.store_index_lib_nr span a div {display: none;}
.layui-layer-tips .layui-layer-content {text-align: left;}
.rel {position: absolute;top: 0px;left: 0px;min-width: 30px;height: auto;background: #333;padding: 8px;font-size: 12px;color: #ffffff;line-height: 22px;}
.rel i{position: absolute;width: 0;height: 0;border-width: 8px;border-color: transparent;border-style: dashed;
    *overflow: hidden;top: 3px;border-bottom-style: solid;border-bottom-color: #333;right: -8px}




/*滚动条*/

/* Let's get this party started */
.store_index_lib_nr::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
.store_index_lib_nr::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 12px #e2bf9c; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(226,191,156,0.8);
}
 
/* Handle */
.store_index_lib_nr::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;   
}
.store_index_lib_nr::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.store_index_lib_nr::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(226,191,156,0.8);
    
}


.store_index_info {width: 820px;height: 585px;position: relative;}
.store_index_info_zs {width: 480px;}
.store_index_info_zs ul li{float: left;width: 100px;text-align: center;margin: 0 30px;}
.store_index_info_zs ul li h3{font-size: 48px;color: #9a7049;font-family: "Arial";font-weight: 600;}
.store_index_info_zs ul li h3 font {font-size: 14px;}
.store_index_info_zs ul li span{display: block;color: #9a7049;font-size: 14px;text-align: center;}
.store_index_info_cont span{position: absolute;background: #e2bf9c;color: #ffffff;font-size: 14px;padding: 7px 18px;}
.beijing {top: 217px;left: 615px;}
.hebei {top:250px;left: 422px;}
.shandong {top: 282px;left: 640px;}
.shanxi {left: 358px;top: 293px;}
.henan {left: 395px;top: 335px;}
.jiangsu {left: 659px;top: 327px;}
.shanghai {left: 680px;top: 372px;}
.chongqing {left: 505px;top: 383px;}
.fujian {left: 476px;top: 441px;}
.guizhou {left: 319px;top: 430px;}
.yunnan {left: 263px;top: 473px;}
.guangdong {left: 410px;top: 484px;}






.store_index_store ul li {width:25%;height:auto;float:left;position:relative;overflow: hidden;}
.store_index_store ul li a {display:block;overflow:hidden;}
.store_index_store ul li a img {width:100%;height:100%;transition:all ease-out .3s}
.store_index_store ul li a:hover img {transform:scale(1.2, 1.2);-moz-transform:scale(1.2, 1.2);-webkit-transform:scale(1.2, 1.2);-o-transform:scale(1.2, 1.2);}
.store_index_store ul li .store_index_store_info {width:100%;height:100%;position:absolute;left:0;top:0;transition:all ease-out .3s;opacity: 0; opacity:0; }
.store_index_store ul li .store_index_store_info:after { content:''; display:block; border:1px solid rgba(255, 255, 255, .5); position:absolute; top:-1px; left:-1px; margin:4%; width:92%; height:90%; }
.store_index_store ul li a:hover .store_index_store_info {background:rgba(0, 0, 0, .7);}
.store_index_store ul li .store_index_store_info p {text-align:center;color:#fff;padding:0 20px;}
.store_index_store ul li a .store_index_store_info .title { padding:20% 50px 0; text-align: center; transform: scale(2, 2);  color:#fff; transition: all ease-out .3s;}
.store_index_store ul li:hover a .store_index_store_info { opacity:1; }
.store_index_store ul li:hover a .store_index_store_info .title { transform: scale(1.6, 1.6); }
.store_index_store ul li a .store_index_store_info .subtitle { padding:13% 50px 0; text-align: center; transform: scale(2, 2);  color:#999; transition: all ease-out .3s;}
.store_index_store ul li a:hover .store_index_store_info .subtitle {transform: scale(1, 1);}




/*活动图片*/
.activity_index {background: url(index_bg.png) no-repeat center center;height: 874px;padding-top:110px;overflow: hidden;}
.activity_index strong.tit h3{color: #ffffff;}
.activity_index strong.tit span{color: #ffffff;}
.activity_index strong.tit samp{background: url(icon_4.png) no-repeat center center;}


.activity_index_cont {width: 1200px;overflow: hidden;padding-top: 50px;}
.activity_index_cont ul li{float: left;width: 580px;margin-right: 40px;margin-bottom: 40px;height: 230px;overflow: hidden;}
.activity_index_cont ul li:nth-child(2n){margin-right: 0;}
.activity_index_cont ul li div.activity_index_img {float: left;width: 230px;height: 230px;overflow: hidden;}
.activity_index_cont ul li div.activity_index_img img{width: 100%;height: auto;}

.activity_index_cont ul li div.activity_index_info {float: left;width: 349px;height: 230px;padding: 35px 38px;border: 1px solid #ffffff;border-left: 0;}

.activity_index_cont ul li div.activity_index_info h3 {font-size: 16px;color: #ffffff;display: block;font-weight: bold;height: 48px;}
.activity_index_cont ul li div.activity_index_info span {font-size: 14px;color: #e7e7e7;display: block;padding: 6px 0 22px;line-height: 22px;overflow: hidden;height: 80px;}
.activity_index_cont ul li div.activity_index_info a {padding: 8px 30px;background: #ffffff;color: #35978f;border-radius: 3px;float: left;}
.index_more a {width: 140px;height: 40px;line-height: 40px;text-align: center;float: right;border: 1px solid #ffffff;color: #ffffff;opacity: 0.7;transition: all linear .3; }
.index_more a:hover {opacity: 1}



.products_index {background: #f5eeec;padding:100px 0 90px;overflow: hidden;}


.products_index_cont{ width:1320px;overflow:hidden; position:relative;margin: 0 auto;margin-top: 55px;}
.products_index_cont .hd{ overflow:hidden; height:35px; width:1320px; position:absolute; top:163px; left:0px;}
.products_index_cont .hd .prev,.products_index_cont .hd .next{ display:block;  width:18px; height:35px; overflow:hidden;cursor:pointer;}
.products_index_cont .hd .next{ background: url(turn_right.png) no-repeat  center center;float: right;  }
.products_index_cont .hd .prev{ background: url(turn_left.png) no-repeat  center center;float: left;  }

.products_index_cont .hd .prevStop{ background:#00f; }
.products_index_cont .hd .nextStop{ background:#00f; }
.products_index_cont .bd{width: 1256px;}
.products_index_cont .bd ul{ overflow:hidden; zoom:1; }
.products_index_cont .bd ul li{ width:260px;height: 322px; margin:0px 29px; float:left; _display:inline; overflow:hidden; text-align:center;position: relative;text-align: center;}
.products_index_cont .bd ul li:last-child{ margin-right:0px;}
.products_index_cont .bd ul li div.products_liner_cont{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.products_index_cont .bd ul li div.products_liner_cont h3{color: #413122;font-size: 18px;margin-top: 260px;transition: all 0.6s linear 0s;}
.products_index_cont .bd ul li div.products_liner_cont:after { transition: all ease-out .3s;content:''; display:block; border:1px solid rgba(209, 145, 80, .1); position:absolute;top: 14px;left: 14px;width:230px; height:294px; }

.products_index_cont .bd ul li div.products_liner_img{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.products_index_cont .bd ul li:hover div.products_liner_cont:after {border:1px solid rgba(209, 145, 80, 1);}





/**底部样式**/
.footer{width:100%; height:auto; background:#2b2015;overflow: hidden;}
.footer .foot{padding-bottom: 50px;width: 1200px;overflow: hidden;margin: 0 auto;}


.footer .blogo{margin-top:55px; overflow: hidden;transition: all 0.3s linear 0s;width: 676px;float: left;}
.footer .blogo div{float: left;padding-right: 80px;}
.footer .blogo h3{ font-size:14px; font-family:"Microsoft YaHei";color:#fff;}
.footer .blogo ul{ padding-top:20px;}
.footer .blogo ul li{height:28px; line-height:28px;}
.footer .blogo ul li a{ font-family:"Microsoft YaHei"; font-size:12px; color:#806d62; display:block; line-height:25px;}
.footer .blogo ul li a:hover{ text-decoration:none;color: #35978f;}

.footer .ewm{ width:280px;margin-top:55px; height:125px;float: right;}
.footer .ewm ul li:first-child{float: left;}
.footer .ewm ul li:first-child+li{float: right;}
.footer .ewm ul li h3{text-align: center;color: #ffffff;font-size: 12px;font-weight: normal;margin-top: 20px;}

.bq{ width:100%; height:70px; background:#20180f;}
.bq p{ font-size:12px; line-height:70px; color:#63625e;font-family:"Microsoft YaHei";width: 1200px;}
.bq p a{color:#63625e;}
.bq p a:hover {color: #35978f;}
.footer .footer_add {float: left;margin-top: 55px;width: 165px;}

.footer .footer_add h3{ font-size:14px; font-family:"Microsoft YaHei";color:#fff;}
.footer .footer_add span {color: #806d62;font-size: 12px;display: block;padding:15px 0; }
.footer .footer_add div:first-child+div span{font-size: 24px;}
.footer .footer_add div:first-child+div {margin-top: 10px;}


/**底部样式 end**/



/* 当季新品 */

.page_banner{height: 455px;background: url(product_ban.png) no-repeat center center;background-size: auto 100%;overflow: hidden;}
.page_banner h3{display: block;font-size: 48px;color: #ffffff;text-align: center;font-family: "黑体";margin-top: 257px;}
.page_banner h3 font{font-weight: normal;font-family:"Helvetica Neue lt pro";}

.bread_nav{padding: 18px 0;background: #f8f8f8;border-bottom: 1px solid #e5e5e5;}
.bread_nav h3{float: left;color: #35978f;font-size: 22px;background: url(icon_7.png) no-repeat left center;padding-left: 35px;font-weight: bold;}
.bread_nav span {float: right;display: block;}
.bread_nav span a {width: 110px;height: 35px;float: left;color: #794025;font-size: 14px;border-radius: 3px;line-height: 35px;text-align: center;margin-left: 5px;}
.bread_nav span a:hover{color: #ffffff;background: #35978f;}
.bread_nav span a.active{color: #ffffff;background: #35978f;}

.page_tit{color: #794025;font-size: 26px;text-align: center;}
.page_tit:after {content:''; display:block; border-bottom: 2px solid #e2e5eb; width:30px; height:1px; margin: 0 auto;margin-top: 10px;}

.product_page {width: 1200px;margin: 0 auto;overflow: hidden;padding: 55px 0 80px;}
.product_page_cont {padding-top: 50px;overflow: hidden;}


.product_page_cont ul li{box-shadow: 0px 0px 10px rgba(0,0,0,0.3); width:255px;height: 382px;margin-left:8px;margin-right: 49px;margin-bottom:58px;float:left; overflow:hidden; text-align:center;position: relative;text-align: center;}
.product_page_cont ul li:nth-child(4n){ margin-right:0px;}
.product_page_cont ul li div.product_liner_cont{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.product_page_cont ul li div.product_liner_cont h3{color: #ffffff;font-size: 18px;margin-top: 325px;transition: all 0.6s linear 0s;font-weight: bold;}
.product_page_cont ul li div.product_liner_cont span {opacity: 0;display: block;padding: 10px 20px;transition: all 1s linear 0s;color:  #dcdcdc;}

.product_page_cont ul li div.product_liner_img{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.product_page_cont ul li div.product_liner_img img{width: 100%;height: 100%;}

.product_page_cont ul li span.product_liner {display: block;position: absolute;top: 0px;left: 0px;margin: 10px;border: 1px solid #cbbcb5;width: 234px;height: 360px;transition: all 0.3s linear 0s;}
.product_page_cont ul li div.product_bg {position: absolute;width: 226px;height: 300px;top: 40px;left: 15px;transition: all 0.3s linear 0s;}
.product_page_cont ul li:hover div.product_bg {background: rgba(0,0,0,.4);}
.product_page_cont ul li div.product_liner_cont:hover h3{margin-top: 60px;}
.product_page_cont ul li:hover div.product_liner_cont span {opacity: 1;display: block;padding: 10px 20px;}

.product_page_info_cont {padding: 50px 0 0; }
.product_page_info {padding-top: 50px;}


.page a {padding: 13px 18px;background:#f8f8f8;color: #666666;font-size: 14px;float: left;margin-left: 10px;}
.page a:hover {background: #36978f;color: #ffffff;}
.page a.active{background: #36978f;color: #ffffff;}

/* 当季新品 end*/

/*周边产品*/

.products_page {width: 1220px;margin: 0 auto;overflow: hidden;padding: 55px 0 80px;}
.products_page_cont {padding-top: 50px;overflow: hidden;}
.products_page ul{ overflow:hidden; zoom:1; }
.products_page ul li{ width:260px;height: 322px;float:left;overflow:hidden;margin: 10px 43px 43px 10px; text-align:center;position: relative;text-align: center;box-shadow: 0px 0px 10px rgba(0,0,0,0.08);}
.products_page ul li:nth-child(4n){margin-right: 10px;}
.products_page ul li div.products_liner_cont{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.products_page ul li div.products_liner_cont h3{color: #413122;font-size: 18px;margin-top: 260px;transition: all 0.6s linear 0s;}
.products_page ul li div.products_liner_cont:after { transition: all ease-out .3s;content:''; display:block; border:1px solid rgba(209, 145, 80, .1); position:absolute;top: 14px;left: 14px;width:230px; height:294px; }
.products_page ul li div.products_liner_img{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.products_page ul li:hover div.products_liner_cont:after {border:1px solid rgba(209, 145, 80, 1);}
/*周边产品 end*/


/*全国咖啡馆*/

.cafes_ban {background: url(cafes_ban.png) no-repeat;background-size: 100% 100%;}

.cafes_bread h3{background: url(icon_8.png) no-repeat left center;}


.store_page {overflow: hidden;padding-bottom: 80px;}
.store_page .store_index_map {margin-top: 0px;}

.store_page_tit {height: 125px;text-align: center;width: 680px;margin: 0 auto;padding-top: 42px;}
.store_page_tit a{border: 1px solid #d7d7d7;color: #444444;font-size: 14px;width: 138px;height: 38px;line-height: 38px;border-radius: 30px;float: left;margin: 0 15px;}
.store_page_tit a:hover{border-color: #107755;color: #107755;}
.store_page_tit a.active{border-color: #107755;color: #107755;}

.store_page_store samp {display: none;}
.store_page_store samp:first-child {display: block;}


/*全国咖啡馆  ebd*/


.activity_page {width: 1200px;margin: 0 auto;overflow: hidden;padding: 55px 0 80px;}
.activity_index_cont {padding-top: 50px;overflow: hidden;}
.activity_page ul li div.activity_index_info {float: left;width: 349px;height: 230px;padding: 35px 38px;background:#f8f8f8;border: 0;}
.activity_page ul li div.activity_index_info h3 {color: #444444;}
.activity_page ul li div.activity_index_info span {color: #888888;}
.activity_page ul li div.activity_index_info a {background: #d19150;color: #ffffff;}
.activity_page ul li:hover div.activity_index_info {float: left;width: 349px;height: 230px;padding: 35px 38px;background:#35978f;border: 0;}
.activity_page ul li:hover div.activity_index_info h3 {color: #ffffff;}
.activity_page ul li:hover div.activity_index_info span {color: #83ded7;}
.activity_page ul li:hover div.activity_index_info a {background: #ffffff;color: #35978f;}


.activity_cont {width: 1200px;margin: 0 auto;overflow: hidden;padding: 55px 0 80px;}

.activity_cont-tit h3{display: block;text-align: center;color: #333333;font-size: 22px;padding-bottom: 20px;}
.activity_cont-tit span{display: block;text-align: center;color: #ffffff;font-size: 12px;background: #35978f;height: 32px;line-height: 32px;}
.activity_cont_info {padding: 40px 0;color: #888888;font-size: 14px;line-height: 20px;border-bottom: 1px solid #d2d2d2;}
.activity_cont_info img {max-width: 1200px;}
.pre_next{ padding:20px 0px 0; height:auto; overflow:hidden;}

.sxp span{ display:block; font-family:"Microsoft YaHei"; font-size:14px; color:#666666; margin-bottom:5px;}
.sxp span a{font-family:"Microsoft YaHei"; font-size:14px; color:#999999;}
.sxp span a:hover{color: #35978f;}

.bdshare-button-style0-16 a{ width:34px; height:34px !important;}
.pre_next span.fxd{font-size: 12px;color: #888888;line-height: 46px;height: 46px;display: block;margin-right: 20px;}
.bdshare-button-style0-16 .bds_weixin{ background:url(share_wx.png) no-repeat center center !important;}
.bdshare-button-style0-16 .bds_sqq{ background:url(share_qq.png) no-repeat center center !important;}
.bdshare-button-style0-16 .bds_tsina{ background:url(share_wb.png) no-repeat center center !important;}



/*各地学员*/

.school_ban {background: url(school_ban.png) no-repeat center center;}
.school_bread h3{background: url(icon_9.png) no-repeat left center;}

@media (max-width:767px){
    .school_page {width: 100%;overflow: hidden;padding-top: 2rem;}
    .school_page_cont {padding: 1rem 4%;overflow: hidden;text-align: left;font-size: 1.4rem;color: #666666;}

    .school_page_tit {overflow: hidden;text-align: center;background:none;}
    .school_page_tit span{color: #794025;font-size: 1rem;opacity: .5;display: block;text-align: center;}
    .school_page_tit h3{margin: 0 auto;background: url(icon_13.png) repeat-x left center;}
    .school_page_tit h3 samp {text-align: center;padding: 0 10px;background: #ffffff;color: #794025;font-size: 1.6rem;font-weight: bold;font-family: "微软雅黑";}

    .school_page_ul {display: block;overflow: hidden;padding: 0 2%;}
    .school_page_ul ul li {height: auto;box-shadow: 0px 0px 10px rgba(0,0,0,0.1);margin: 2%;overflow: hidden;margin-bottom: 2rem;}
    .school_page_ul ul li h3{width: 4rem;height: 4rem;line-height: 4rem;font-size: 2rem;color: #ffffff;background: #f4ad53;margin: 1rem auto 0;text-align: center;border-radius: 50%;}
    .school_page_ul ul li span {display: block;overflow: hidden;text-align: left;color: #666666;font-size: 1.4rem;line-height: 2rem;padding: 1rem;}
    .school_page_ul ul li:first-child {border-bottom: 2px solid #f4ad53;}
    .school_page_ul ul li:first-child+li {border-bottom: 2px solid #35978f;}
    .school_page_ul ul li:first-child+li+li {border-bottom: 2px solid #ddc5a1;}
    .school_page_ul ul li:first-child h3{background: #f4ad53;}
    .school_page_ul ul li:first-child+li h3{background: #35978f;}
    .school_page_ul ul li:first-child+li+li h3{background: #ddc5a1;}
    .school_page_add {overflow: hidden;padding-top: 2rem;padding-bottom: 3rem;}

    .school_page_add_tit {text-align: center;color: #888888;font-size: 1.6rem;font-weight: bold;}
    .school_page_add_info {overflow: hidden;padding: 1rem 4%;}
    .school_index_cont_tit {width: 280px;margin: 0 auto;background: #d19150;height: 64px;text-align: center;margin-top: -32px;z-index: 1;position: relative;}
    .school_index_cont_tit span {border: 1px solid #dfb285;width: 266px;height: 50px;display: block;font-size: 18px;color: #fff;position: absolute;margin: 6px;left: 0px;top: 0px;line-height: 52px;}
    
    .school_page_add_info_cont {height: auto;width: 100%;background: #f6f6f8;padding: 2rem;position: relative;}
    .school_page_add_info_img {width: 100%;height: auto;overflow: hidden;}
    .school_page_add_info_img img{width: 100%;height: auto;}


    .school_page_add_info_cont div{padding-left: 5rem;background: url(icon_14.png) no-repeat left center;height: 4rem;background-size: 4rem 4rem;}
    .school_page_add_info_cont div h3{color: #35978f;font-size: 1.6rem;}
    .school_page_add_info_cont div font{color: #666666;font-size: 1.4rem;overflow: hidden;}
    .school_page_add_info_cont span{text-align: left;color: #888888;font-size: 1.2rem;line-height: 30px;padding-top:20px;margin-top: 20px;display: block;overflow: hidden;border-top: 1px solid #d2d2d2;}
    .school_page_add div.school_page_add_info+div.school_page_add_info .school_page_add_info_cont div{background: url(icon_15.png) no-repeat left center;background-size: 4rem 4rem;}

    .school_page_add {overflow: hidden;}

    .school_page_info {padding: 50px 0 0px;line-height: 1.6rem;}


}

@media (min-width:768px){
.school_page+.school_page{padding-top: 0px;}
.school_page {width: 1200px;margin: 0 auto;overflow: hidden;padding: 55px 0 80px;}
.school_page_cont {padding: 50px 5px;overflow: hidden;text-align: left;font-size: 16px;color: #666666;}


.school_page_tit {overflow: hidden;text-align: center;background: url(icon_13.png) repeat-x left 47px;padding-bottom: 5px;}
.school_page_tit span{color: #794025;font-size: 16px;opacity: .5;display: block;text-align: center;padding-bottom: 10px;}
.school_page_tit h3{color: #794025;font-size: 26px;background: #ffffff;padding:  0 30px;margin: 0 auto;width: 280px;}
.school_page_tit h3 samp{font-weight: bold;}


.school_page_ul ul li {float: left;width: 375px;height: 325px;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);margin: 10px;margin-right: 17px;}
.school_page_ul ul li:last-child {margin-right: 10px;}

.school_page_ul ul li h3{width: 75px;height: 75px;line-height: 75px;font-size: 40px;color: #ffffff;background: #f4ad53;margin: 40px auto 0;text-align: center;border-radius: 50%;}
.school_page_ul ul li span {display: block;overflow: hidden;text-align: center;color: #666666;font-size: 16px;line-height: 30px;padding: 30px 40px 0;}
.school_page_ul ul li:first-child {border-bottom: 2px solid #f4ad53;}
.school_page_ul ul li:first-child+li {border-bottom: 2px solid #35978f;}
.school_page_ul ul li:first-child+li+li {border-bottom: 2px solid #ddc5a1;}
.school_page_ul ul li:first-child h3{background: #f4ad53;}
.school_page_ul ul li:first-child+li h3{background: #35978f;}
.school_page_ul ul li:first-child+li+li h3{background: #ddc5a1;}
.school_page_add_tit {text-align: center;color: #888888;font-size: 20px;font-weight: bold;}


.school_page_add_info {overflow: hidden;padding-top: 40px;}

.school_index_cont_tit {width: 280px;margin: 0 auto;background: #d19150;height: 64px;text-align: center;margin-top: -32px;z-index: 1;position: relative;}
.school_index_cont_tit span {border: 1px solid #dfb285;width: 266px;height: 50px;display: block;font-size: 18px;color: #fff;position: absolute;margin: 6px;left: 0px;top: 0px;line-height: 52px;}
.school_page_add_info_cont {float:right;height: 318px;width: 428px;background: #f6f6f8;padding: 45px;position: relative;}
.school_page_add_info_cont samp {width: 32px;height: 29px;background: url(icon_16.png) no-repeat center center;display: block;position: absolute;left: -15px;top: 70px;}
.school_page_add_info_img {float:left;width: 740px;height: 318px;overflow: hidden;}
.school_page_add_info_cont div{padding-left: 90px;background: url(icon_14.png) no-repeat left center;height: 73px;}
.school_page_add_info_cont div h3{color: #35978f;font-size: 18px;padding-top: 15px;}
.school_page_add_info_cont div font{color: #666666;font-size: 14px;overflow: hidden;}
.school_page_add_info_cont span{text-align: left;color: #888888;font-size: 14px;line-height: 30px;padding-top:20px;margin-top: 20px;display: block;overflow: hidden;border-top: 1px solid #d2d2d2;}
.school_page_add div.school_page_add_info+div.school_page_add_info .school_page_add_info_cont div{background: url(icon_15.png) no-repeat left center;}

.school_page_add {overflow: hidden;}
.school_page_info {padding: 50px 0 0px;line-height: 26px;color: #333;font-size: 16px;}
}


/*各地学员 end*/

/*课程报名*/
@media (min-width:768px){
.course_reg {overflow: hidden;padding: 40px 0 0;}
.course_reg ul li {width: 588px;float: left;height: 480px;margin-right: 24px;margin-bottom: 24px;}
.course_reg ul li:nth-child(2n) {margin-right: 0px;}
.course_reg ul li .course_reg_img {width: 588px;height: 175px;}
.course_reg ul li .course_reg_img img {height: 175px;}

.course_reg ul li .course_reg_cont {background: #f8f8f8;height: 305px;padding: 45px;}
.course_reg ul li .course_reg_cont div.course_reg_cont_tit {color: #333333;font-size: 18px;font-weight: bold;padding-bottom: 18px;border-bottom: 1px solid #c9c9c9;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span {display: block;overflow: hidden;padding-top: 25px;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span h3 {color:#999999;font-size:14px;float: left;width: 120px;padding-left: 39px;background:url(tel.png) left center no-repeat;background-size: auto 20px;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span samp {float: left;width: 378px;color: #666666;font-size: 14px;}

.course_reg ul li .course_reg_cont div.course_reg_cont_info span+span h3 {background:url(add.png) left center no-repeat;background-size: auto 20px;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span+span+span h3 {background:url(wb.png) left center no-repeat;background-size: auto 20px;}



}

@media (max-width:767px){

.course_reg {overflow: hidden;padding: 3rem 2% 4rem;}
.course_reg ul li {margin: 2%;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);margin-bottom: 2rem;}
.course_reg ul li .course_reg_img {width: 100%;}
.course_reg ul li .course_reg_img img {width: 100%;}

.course_reg ul li .course_reg_cont {background: #f8f8f8;padding: 0 2rem 2rem;}
.course_reg ul li .course_reg_cont div.course_reg_cont_tit {color: #333333;font-size: 1.6rem;font-weight: bold;padding: 1rem 0;border-bottom: 1px solid #c9c9c9;text-align: center;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span {display: block;overflow: hidden;text-align: center;padding-top: 2rem;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span h3 {color:#999999;font-size:1.6rem;width: 100%;display: block;}
.course_reg ul li .course_reg_cont div.course_reg_cont_info span samp {display: block;color: #666666;font-size: 1.4rem;font-family:"微软雅黑";font-weight: normal;}



}


/*课程报名 end*/



.course_page_cont {width: 1200px;overflow: hidden;margin: 0 auto;padding-top: 50px;padding-bottom: 5px;}
.course_page_cont dt dl{width: 370px;float: left;margin-right: 45px;overflow: hidden;height: 550px;background: #f8f8f8;margin-bottom: 45px;}
.course_page_cont dt dl:nth-child(3n){margin-right: 0;}


/*品牌介绍*/

.about_ban {background: url(about_ban.png) no-repeat;background-size: 100% 100%;}
.about_bread h3{background: url(icon_10.png) no-repeat left center;}


.about_page {width: 1200px;margin: 0 auto;overflow: hidden;padding: 55px 0 60px;}
.about_page_cont {padding-top: 50px;overflow: hidden;padding-bottom: 25px;}
.about_page_cont div{float: left;margin-right: 1px;height: 260px;}
.about_page_cont div h3{color: #ffffff;font-size: 12px;}
.about_page_cont div:last-child{margin-right: 0;}
.about_page_cont1 {position: relative;overflow: hidden;}
.about_page_cont1 h3{position: absolute;display: block;bottom: 15px;left: 0px;width: 100%;text-align: center;font-weight:lighter; }

.about_page_cont2 {overflow: hidden;}
.about_page_cont2 h3{display: block;text-align: center;font-weight:lighter;line-height: 130px; }
.about_page_cont2 span {display: block;margin-top: 1px;height: 130px;background: #f5ac56;}

.about_page_cont3 {position: relative;overflow: hidden;}
.about_page_cont3 h3{position: absolute;display: block;top: 15px;left: 0px;width: 100%;text-align: center;font-weight:lighter; }

.about_page_cont4 {overflow: hidden;}
.about_page_cont4 h3{display: block;text-align: center;font-weight:lighter;padding-top: 56px;}
.about_page_cont4 span {display: block;margin-bottom: 1px;height: 130px;background: #35978f;}

.about_page_cont5 {position: relative;overflow: hidden;}
.about_page_cont5 h3{position: absolute;display: block;bottom: 15px;left: 0px;width: 100%;text-align: center;font-weight:lighter; }

.about_page_cont6 span:first-child{width: 35px;display: block;height: 129.5px;background: #ddc4a2;margin-bottom: 1px;}
.about_page_cont6 span:first-child+span{width: 35px;display: block;height: 129.5px;background: #35978f;}

.about_page_cont7 {position: relative;overflow: hidden;}
.about_page_cont7 h3{position: absolute;display: block;top: 15px;left: 0px;width: 100%;text-align: center;font-weight:lighter; }


.about_page_info {width: 100%;}
.about_page_info {background: url(index_bg.png) no-repeat center center;height: 832px;overflow: hidden;padding: 65px 0; }

.about_page_info_tit {overflow: hidden;}
.about_page_info_tit:after {content: "";width: 35px;border-bottom: 2px solid #ffffff;float: left;margin-top: 20px;}
.about_page_info_tit h3{font-size: 18px;font-weight: bold;color: #ffffff;text-align: left;display: block;}

.about_page_info_cont {font-size: 14px;color: #f2f0f0;font-weight: normal;line-height: 24px;padding: 20px 0;}

.about_page_info_fw {overflow: hidden;padding: 10px 0;}




.about_page_info_fw ul {width: 680px;overflow: hidden;margin: 0 auto;}
.about_page_info_fw ul li{float: left;width: 130px;text-align: center;margin: 0 20px;padding-top: 20px;}
.about_page_info_fw ul li h3 {font-size: 55px;color: #ffffff;display: block;font-family: 'Arial';font-weight: 600;} 
.about_page_info_fw ul li span {font-size: 14px;color: #ffffff;display: block;margin-top: 20px;} 


/*品牌介绍 end*/


/*品牌历程 end*/
.about_course {width: 1200px;overflow: hidden;margin: 0 auto;}


.logs-list {
    width: 1140px;
    margin: 50px auto 80px;
    border-left: 3px solid #57b382
}


.logs-list dd,
.logs-list dt {margin: 0;
    margin-bottom: 50px
}

.logs-list dt {
    float: left;
    margin-left: -31.5px
}

.logs-list dt em {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #fff;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    background: #35978f
}

.logs-list dd {
    margin-left: 60px;
    padding: 20px 30px;
    background: #fafafa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
    line-height:30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

.logs-list h2 {
    color: #666;
}



/*品牌历程 end*/



/*电子会员*/

.user_page{width: 1200px;margin: 0 auto;overflow: hidden;}
.user_page_info {overflow: hidden;}
.user_page_info .page_tit{padding: 50px 0;}
.user_page_info_table {overflow: hidden;padding-bottom: 50px;border-bottom: 1px dashed #efe5d8;}
.user_page_info_cont {color: #999999;font-size: 14px;line-height: 30px;overflow: hidden;padding-bottom: 80px;}
.user_page_info_cont h3{color: #333333;font-size: 16px;font-weight: bold;}
/*电子会员 end*/




/*联系我们*/


.contact_ban {background: url(contact_ban.png) no-repeat;background-size: 100% 100%;}
.contact_bread h3{background: url(icon_17.png) no-repeat left center;}


.contact_page {width: 1200px;margin: 0 auto;overflow: hidden;}

.coop_page {overflow: hidden;padding: 55px 0 0px;}

.coop_page .school_page_tit h3{color: #794025;font-size: 26px;background: #ffffff;padding:  0 30px;margin: 0 auto;width: 180px;}
.coop_page .coop_page_info {overflow: hidden;padding-bottom: 70px;}
.coop_page .coop_page_info_img {text-align: center;padding: 55px 0 20px;}
.coop_page .coop_page_info_cont {text-align: center;color: #666666;font-size: 16px;line-height: 30px;padding: 0 50px 0;}

.coop_consult {overflow: hidden;padding-bottom: 50px;}
.coop_consult .coop_consult_tit {text-align: center;font-size: 20px;font-weight: bold;color: #888888;}
.coop_consult ul {overflow: hidden;padding-top: 30px;}

.coop_consult ul li {font-weight:bold;padding-left:88px;font-size: 18px;color: #999999; line-height:105px;float: left;width: 590px;margin: 0 5px;border-top: 4px solid #35978f;height: 105px;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);margin-bottom: 10px;background: url(icon_19.png) no-repeat 40px center;}

.coop_consult ul li:first-child+li {border-top:  4px solid #f5ac56;background: url(icon_20.png) no-repeat 40px center;}



.swiper-container {border: 2px solid #f4f3f3;border-top: 1px solid #f4f3f3;border-right: 1px solid #f4f3f3;margin-left: auto;margin-right: auto;position: relative;z-index: 1;width: 1200px;height: 298px;}
.swiper-container-no-flexbox .swiper-slide {float: left}
.swiper-container-vertical>.swiper-wrapper {-webkit-box-orient: vertical;-moz-box-orient: vertical;-ms-flex-direction: column;-webkit-flex-direction: column;flex-direction: column}
.swiper-wrapper {position: relative;width: 100%;height: 100%;z-index: 1;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box}

.swiper-container-multirow>.swiper-wrapper {-webkit-box-lines: multiple;-moz-box-lines: multiple;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap}
.swiper-container-free-mode>.swiper-wrapper {-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto}
.swiper-slide {-webkit-flex-shrink: 0;-ms-flex: 0 0 auto;flex-shrink: 0;width: 100%;height: 98px;position: relative; text-align: center;background: #fff;        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;}
.swiper-pagination {position: absolute;text-align: center;-webkit-transition: .3s;-moz-transition: .3s;-o-transition: .3s;transition: .3s;-webkit-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);z-index: 10}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {bottom: -50px;left: 0;width: 100%}
.swiper-pagination-bullet {width: 10px;height: 10px;display: inline-block;border-radius: 100%;background: #000;opacity: 1;background: #ffffff;border: 2px solid #35978f;}
button.swiper-pagination-bullet {border: none;margin: 0;padding: 0;box-shadow: none;-moz-appearance: none;-ms-appearance: none;-webkit-appearance: none;appearance: none}
.swiper-pagination-clickable .swiper-pagination-bullet {cursor: pointer}
.swiper-pagination-white .swiper-pagination-bullet {background: #fff}
.swiper-pagination-bullet-active {opacity: 1;background: #35978f}
.swiper-pagination-white .swiper-pagination-bullet-active {background: #fff}
.swiper-pagination-black .swiper-pagination-bullet-active {background: #000}
.swiper-container-vertical>.swiper-pagination-bullets {right: 10px;top: 50%;-webkit-transform: translate3d(0, -50%, 0);-moz-transform: translate3d(0, -50%, 0);-o-transform: translate(0, -50%);-ms-transform: translate3d(0, -50%, 0);transform: translate3d(0, -50%, 0)}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 5px 0;display: block}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 5px}
#par_list_cont {height: 298px;}
#par_list_cont img{border-bottom: 1px solid #f4f3f3;border-right: 1px solid #f4f3f3;-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%);filter: gray; transition:all 0.3s;}
#par_list_cont img:hover{-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%);}

.coop_logo {width: 1200px;margin: 0 auto;padding-top: 50px;height: 400px;}

.coop_fran {overflow: hidden;padding: 0 0 70px;height: 425px;background: url(cphz_bg.png) no-repeat center center;padding-top: 55px;}
.coop_fran .school_page_tit {overflow: hidden;text-align: center;background: url(icon_21.png) no-repeat left 47px;padding-bottom: 5px;}
.coop_fran .school_page_tit h3{color: #794025;font-size: 26px;background: none;padding:  0 30px;margin: 0 auto;width: 280px;}
.coop_fran  .coop_fran_info {text-align: center;color:#a88369;font-size: 18px;padding: 50px 0 30px; }
.coop_fran ul {overflow: hidden;padding-top: 30px;}
.coop_fran ul li {font-weight:bold;padding-left:88px;font-size: 18px;color: #999999; line-height:105px;float: left;width: 590px;margin: 0 5px;border-top: 4px solid #35978f;height: 105px;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);margin-bottom: 10px;background: url(icon_19.png) no-repeat 40px center #ffffff;}
.coop_fran ul li:first-child+li {border-top:  4px solid #ff5500;background: url(icon_22.png) no-repeat 40px center #ffffff;}


.coop_join {overflow: hidden;padding: 0 0 70px;background: #ffffff;padding-top: 55px;}
.coop_join_img{text-align: center;color: #35978f;}
.coop_join  .coop_join_info {text-align: center;color:#35978f;font-weight:bold;font-size: 18px;padding: 50px 0 10px; }

.coop_join ul {overflow: hidden;padding-top: 30px;}
.coop_join ul li {font-weight:bold;padding-left:88px;font-size: 18px;color: #999999; float: left;width: 590px;margin: 0 5px;border-top: 4px solid #35978f;line-height: 35px;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);margin-bottom: 10px;background: url(icon_19.png) no-repeat 40px 23px #ffffff;padding-top: 15px;padding-bottom: 15px;}
.coop_join ul li:first-child+li {border-top:  4px solid #f5ac56;background: url(icon_20.png) no-repeat 40px 23px #ffffff;}



.contact_mess {display: none;}
.contact_mess .contact_tit {text-align: center;padding: 60px 0 70px;margin: 0 auto;}
.contact_mess .contact_tit h3 {margin-bottom: 10px;font-size: 22px;color: #794025;font-weight: normal;line-height: 35px;background:url(icon_23.png) no-repeat center bottom;padding-bottom: 10px;}
.contact_mess .contact_tit font {font-size: 14px;color: #999999;}



.contact_mess {overflow: hidden;padding-bottom: 60px;background: #f3f4f8;}
.contact_mess .contact_cont {width: 1200px;overflow: hidden;}
.contact_mess .contact_cont .contact_cont_left{height: 430px;float: left;width: 590px;box-shadow: 0px 0px 10px #ccc;padding: 40px;margin-left: 10px;background: #ffffff;margin-bottom: 10px;}
.contact_mess .contact_cont .contact_cont_right{height: 430px;float: left;background: #35978f;width: 600px;padding: 40px;margin-bottom: 10px;}
.contact_mess .contact_cont .contact_cont_left h3{color: #333333;font-size: 26px;;}
.contact_mess .contact_cont .contact_cont_left .baochang{color: #aaaaaa;font-size: 12px;line-height: 20px;padding: 10px 0;display: block;}
.contact_mess .contact_cont .contact_cont_left ul{padding-top: 10px;}
.contact_mess .contact_cont .contact_cont_left ul li{color: #666666;font-size: 12px;padding-left: 30px;padding: 12px 0 12px 30px;}
.contact_mess .contact_cont .contact_cont_left ul li:first-child{background: url(ic_1.png) no-repeat left center;}
.contact_mess .contact_cont .contact_cont_left ul li:first-child+li{background: url(ic_2.png) no-repeat left center;}
.contact_mess .contact_cont .contact_cont_left ul li:first-child+li+li{background: url(ic_3.png) no-repeat left center;}
.contact_mess .contact_cont .contact_cont_left ul li:first-child+li+li+li{background: url(ic_4.png) no-repeat left center;}
.contact_mess .contact_cont .contact_cont_left ul li:first-child+li+li+li+li{background: url(ic_5.png) no-repeat left center;}


.contact_mess .contact_cont .contact_cont_right h3{color: #ffffff;font-size: 26px;}
.contact_mess .contact_cont .contact_cont_right span{color: #ffffff;font-size: 12px;line-height: 20px;padding: 10px 0;display: block;}
.contact_mess .contact_cont .contact_cont_right form {margin-top:26px;}
.contact_mess .contact_cont .contact_cont_right input,.ibox-contact-cont-right textarea{outline:none;}

.ibox-contact-cont-form-demo {width:100%;height:auto;font-size:12px;line-height:42px;color:#fff;margin-bottom:16px;position:relative;}
.ibox-contact-cont-form-demo label {position:absolute;left:0;top:0;font-weight: normal;}
.ibox-contact-cont-form-demo label b {color:#fff;}
.ibox-contact-cont-form-demo samp {position:absolute;line-height:24px;right:0;color: #f00;height: 20px;}
.ibox-contact-cont-form-input-one {width:100%;height:38px;background:none;border-bottom:1px solid #86c1bc;font-size:12px;line-height:38px;color:#fff; box-sizing:border-box;padding-left:60px;}
.ibox-contact-cont-form-input-two {width:100%;height:72px;background:none;border-bottom:1px solid #86c1bc;font-size:12px;line-height:38px;color:#fff; box-sizing:border-box;padding-left:60px;}
.ibox-contact-cont-form-input-sub {width:146px;height:36px;line-height:32px;text-align:center;font-size:12px;color:#fff;background:none;border:1px solid #d7eae9;cursor:pointer;transition:0.3s;-webkit-transition:0.3s;}
.ibox-contact-cont-form-input-sub:hover {background:#fff;color:#35978f;transition:0.3s;-webkit-transition:0.3s;}



/*招聘*/



@media (max-width:767px){


.page_talent {padding: 3rem 4% 6rem;overflow: hidden;}

.page_talent ul li {margin-bottom: 5px;}

.page_talent ul li .page_talent_tit {height: 3rem;background: #f7f7f7;line-height: 3rem;padding: 0 1.5rem 0 2rem;cursor: pointer;}
.page_talent ul li .page_talent_tit h3{color: #444444;font-size: 1.4rem;float: left;}
.page_talent ul li .page_talent_tit span {display: block;float: right;height: 3rem;background: url(icon_24.png) no-repeat center center;background-size: auto 1.4rem;width: 2rem;transition: all linear 0.3s;}


.page_talent ul li div.active {background: #36978f;}
.page_talent ul li div.active h3{color: #ffffff;}
.page_talent ul li div.active span {background: url(icon_24_hover.png) no-repeat center center;}

.page_talent ul li .page_talent_cont {background: #f7f7f7;padding: 1.5rem 1rem 0;overflow:hidden;margin-bottom: 2rem;display: none;}
.page_talent ul li .page_talent_cont .page_talent_cont_date {overflow: hidden;border-bottom: 1px dotted #dcdcdc;padding-bottom: 1.5rem;}
.page_talent ul li .page_talent_cont .page_talent_cont_date span{width: 50%;float: left;font-size: 1.2rem;color: #444444;margin-bottom: 5px;}
.page_talent ul li .page_talent_cont .page_talent_cont_date span:first-child+span+span+span{margin-bottom: 1.5rem;}
.page_talent ul li .page_talent_cont .page_talent_cont_date span font{color: #888888;}

.page_talent ul li .page_talent_cont .page_talent_cont_info {overflow: hidden;border-bottom: 1px dotted #dcdcdc;padding-bottom: 1.5rem;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span {display: block;float: left;width: 100%;padding-top: 2rem;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span:last-child {width: 100%;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span h3 {color: #444444;font-size: 1.6rem;display: block;padding-bottom: 1rem;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span samp {color: #888888;font-size: 1.2rem;display: block;line-height: 1.8rem;overflow: hidden;}
.page_talent_hr {color: #444444;font-size: 1.2rem;font-weight: bold;background: url(icon_25.png) no-repeat left center;background-size: auto 1rem;padding-left: 2rem;height: 3rem;line-height: 3rem;}


}

@media (min-width:768px){
.recruit_ban {background: url(recruit_ban.png) no-repeat;background-size: 100% 100%;}

.page_talent {padding: 70px 0;overflow: hidden;width: 1200px;margin: 0 auto;}
.page_talent ul li {margin-bottom: 5px;}

.page_talent ul li .page_talent_tit {height: 65px;background: #f7f7f7;line-height: 65px;padding: 0 25px 0 35px;cursor: pointer;transition: all linear 0.3s;}
.page_talent ul li .page_talent_tit h3{color: #444444;font-size: 18px;float: left;}
.page_talent ul li .page_talent_tit span {display: block;float: right;height: 65px;background: url(icon_24.png) no-repeat center center;width: 18px;transition: all linear 0.3s;}

.page_talent ul li .page_talent_tit:hover {background: #36978f;}
.page_talent ul li .page_talent_tit:hover h3{color: #ffffff;}
.page_talent ul li .page_talent_tit:hover span {background: url(icon_24_hover.png) no-repeat center center;}




.page_talent ul li div.active {background: #36978f;color: ;}
.page_talent ul li div.active h3{color: #ffffff;}
.page_talent ul li div.active span {background: url(icon_24_hover.png) no-repeat center center;}

.page_talent ul li .page_talent_cont {background: #f7f7f7;padding: 45px 45px 0;overflow:hidden;margin-bottom: 40px;display: none;}
.page_talent ul li .page_talent_cont .page_talent_cont_date {overflow: hidden;border-bottom: 1px dotted #cecece;padding-bottom: 35px;}
.page_talent ul li .page_talent_cont .page_talent_cont_date span{width:  277.5px;float: left;font-size: 14px;color: #444444;margin-bottom: 5px;}

.page_talent ul li .page_talent_cont .page_talent_cont_date span font{color: #888888;}
.page_talent ul li .page_talent_cont .page_talent_cont_info {overflow: hidden;border-bottom: 1px dotted #cecece;padding: 40px 0;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span {display: block;float: left;width: 500px;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span:last-child {width: 564px;border-left: 1px dotted #cecece;padding-left: 45px;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span h3 {color: #444444;font-size: 18px;display: block;padding-bottom: 20px;}
.page_talent ul li .page_talent_cont .page_talent_cont_info span samp {color: #888888;font-size: 12px;display: block;line-height: 24px;overflow: hidden;}
.page_talent_hr {color: #444444;font-size: 16px;font-weight: bold;background: url(icon_25.png) no-repeat left center; padding: 40px 0px 40px 50px;}


}

/*招聘 end*/


.coffee_cont {width: 1200px;margin: 0 auto;overflow: hidden;padding: 70px 0 80px;overflow: hidden;}

.coffee_cont-tit h3{display: block;text-align: center;color: #333333;font-size: 22px;padding-bottom: 20px;}
.coffee_cont-tit span{display: block;text-align: center;color: #ffffff;font-size: 12px;background: #35978f;height: 32px;line-height: 32px;}
.coffee_cont_info {padding: 35px 0;color: #888888;font-size: 14px;line-height: 20px;border-bottom: 1px solid #d2d2d2;overflow: hidden;}
.coffee_cont_info img {max-width: 1200px;}

.coffee_cont_info_img {padding: 15px;background: #f8f8f8;width: 285px;height: 470px;}
.coffee_cont_info_img img {width: 100%;}
.coffee_cont_info_img h3 {display: block;text-align: center;color: #35978f;font-size: 20px;padding: 25px 0 0;font-weight: bold;}

.coffee_cont_info_cont {width: 870px;overflow: hidden;}

.coffee_cont_info_cont .coffee_cont_info_cont_tit {border-bottom: 2px solid #dcdcdc;padding-bottom: 20px;font-size:18px;color: #5ca69f; }
.coffee_cont_info_cont .coffee_cont_info_cont_tit h3:after{content:''; display:block; width:75px;border-bottom: 2px solid #5ca69f;padding-bottom: 20px;position: absolute;}
.coffee_cont_info_cont_info {padding-top: 30px;overflow: hidden;font-size: 14px;color: #999999;text-align: left;line-height: 24px;}


.layui-layer {background: none !important;text-align: center;color: #ffffff}


.coop_contact_bao {text-align: center;display: block;overflow: hidden;padding-top:30px; }
.m_coop_contact_bao {text-align: center;display: block;overflow: hidden;padding: 1rem 0; }
.m_coop_contact_bao a {font-size: 16px;color: #35978f;font-weight: bold;}
.coop_contact_bao a {font-size: 1.6rem;color: #35978f;font-weight: bold;}
.m_coop_contact_bao a:hover {color: #35978f;}
.coop_contact_bao a:hover {color: #35978f;}

.m_coop_contact_bao font{color: #999;font-size: 1.4px;}
.coop_contact_bao font {color: #999;font-size: 14px;}


.bd_weixin_popup {height: 340px !important;}
